:root{
  --txt1: "Markazi Text", serif;
  --txt2: "Karla", sans-serif;
  --primaryGreen: #495E57;
  --primaryYellow: #F4CE14;
  --primaryYellowDark: rgb(136, 115, 13);
  --primaryYellowLight: #ffefa0;
  --secundaryGrey: #EDEFEE;
  --secundaryBlack: #333333; 
  --secundaryOrange1: #EE9972;
  --secundaryOrange2: #FBDABB;
}

body {
  margin: 0;
}

@import url('./styles/Globals.css');

/* HomePage */
@import url('./styles/OpenMenu.css');
@import url('./styles/Nav.css');
@import url('./styles/Header.css');
@import url('./styles/Main.css');
@import url('./styles/About.css');
@import url('./styles/Footer.css');

/* BookingForm */
@import url('./styles/BookingForm.css');

/* ConfirmedBooking */
@import url('./styles/ConfirmedBooking.css');

/* MenuPage */
@import url('./styles/MenuPage.css');

/* AboutPage */
@import url('./styles/About-me.css');

/* OrderPage */
@import url('./styles/OrderPage.css');

/* LoginPage */
@import url('./styles/LoginPage.css');

/* MediaQueries */
@import url('./styles/MediaQueries.css');
