:root{
  --txt1: "Markazi Text", serif;
  --txt2: "Karla", sans-serif;
  --primaryGreen: #495E57;
  --primaryYellow: #F4CE14;
  --secundaryGrey: #EDEFEE;
  --secundaryBlack: #333333; 
  --secundaryOrange1: #EE9972;
  --secundaryOrange2: #FBDABB;
}

body {
  margin: 0;
}

/* -------------------------------------------------  Nav ------------------------------------------------- */

nav{
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: space-evenly;
  padding: 40px 0;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 24px;
  list-style: none;
}

nav ul li a{
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  color: var(--secundaryBlack);
  font-family: var(--txt2);
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}

.iconMenu{
  display: none;
}

/* -------------------------------------------------  Header  ------------------------------------------------- */

header{
  background-color: var(--primaryGreen);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 400px;
}

.header-container{
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: space-between;
  /* background-color: rgb(85, 85, 85); */
}

.header-container div{
  /* background-color: #333333; */
  width: 500px;
  margin-top: 60px;
}

.header-container img{
  width: 376px;
  height: 400px;
  object-fit: cover;
  border-radius: 16px;
  margin-top: 80px;
}

.header-container div h1{
  margin: 0;
  font-family: var(--txt1);
  font-optical-sizing: auto;
  font-size: 64px;
  color: var(--primaryYellow);
  font-weight: 400;
}

.header-container div .subtitle{
  font-size: var(--txt1);
  font-optical-sizing: auto;
  color: var(--secundaryGrey);
  font-size: 40px;
  margin: 0;
  font-weight: 400;
  margin-top: -10px;
  margin-bottom: 30px;
}

.header-container div p{
  font-size: var(--txt2);
  color: var(--secundaryGrey);
  font-size: 18px;
  margin-bottom: 30px;
}

.header-container div a{
  display: inline-block;
  width: 300px;
  height: 55px;
  border-radius: 16px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-weight: bold;
  font-family: var(--txt2);
  color: var(--secundaryBlack);
  background-color: var(--primaryYellow);
}

/* -------------------------------------------------  Main  ------------------------------------------------- */

main {
  margin-top: 80px;
}

main section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.specials{
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* background-color: #495E57; */
  gap: 150px;
}

.specials a{
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  width: 216px;
  height: 55px;
  background-color: var(--primaryYellow);
  color: var(--secundaryBlack);
  font-size: 20px;
  font-family: var(--txt2);
  font-weight: bold;
  border-radius: 16px;
}

.specials h2{
  font-size: 64px;
  font-family: var(--txt1);
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 263px);
  gap: 20px;
}

.card{
  display: flex;
  flex-direction: column;
  height: 515px;
  background-color: var(--secundaryGrey);
  border-radius: 16px 16px 0 0;
}

.card img{
  border-radius: 16px 16px 0 0;
  height: 229px;
  width: 263px;
  object-fit: cover;
}

.card-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
}

.card-header p{
  font-size: 18px;
  font-weight: bold;
  padding: 0;
  font-family: var(--txt2);
  color: var(--secundaryBlack);
}

.card-header span{
  font-size: 18px;
  font-weight: bold;
  font-family: var(--txt2);
  color: var(--secundaryOrange1);
}

.card-main{
  display: flex;
  flex-grow: 1;
  height: auto;
  flex-direction: column;
  justify-content: space-between;
}

.card-main p{
  padding: 0 25px;
  font-size: 16px;
  font-family: var(--txt2);
  color: var(--primaryGreen);
}

.card-main div a{
  margin-top: auto;
  font-size: 18px;
  font-weight: bold;
  font-family: var(--txt2);
  text-decoration: none;
  color: var(--secundaryBlack);
  padding-left: 25px;
}

.card-main div{
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  gap: 10px;
}

@media (max-width: 1024px) {
  nav{
    background-color: aquamarine;
    justify-content: space-between;
    padding: 40px 40px;
  }

  nav ul{
    display: none;
  }

  .iconMenu{
    display: inline;
  }
  
  header{
    height: auto;
  }

  .header-container{
    margin: 40px 0;
    display: flex;
    flex-direction: column;
    /* background-color: rgb(85, 85, 85); */
  }

  .header-container div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
  }

  .header-container div p{
    text-align: center;
  }

  .header-container img{
    width: 376px;
    height: 400px;
    object-fit: cover;
    border-radius: 16px;
    margin-top: 0;
  }

  main{
    margin-top: 0;
  }
  
  .specials{
    display: flex;
    flex-direction: column;
    margin: 50px 0;
    justify-content: space-between;
    width: auto;
    gap: 20px;
    /* padding: 0 50px; */
    /* background-color: #495E57; */
  }

  .specials h2{
    font-size: 60px;
    font-family: var(--txt1);
    margin: 0;
  }  
}

@media (max-width: 860px) {
  .cards {
    width: auto;
    padding: 0;
    margin: 0 50px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .card{
    height: auto;
    border-radius: 16px;
  }

  .card img{
    width: auto;
  }
}

@media (max-width: 640px) {

  .header-container{
    padding: 0 50px;
    gap: 30px;
  }

  .header-container div{
    width: auto;
    height: auto;
  }

  .header-container div a,
  .specials a{
    width: auto;
    height: 35px;
    font-size: 16px;
    padding: 0 20px;
  }

  .header-container img{
    width: 100%;
    height: auto;
    margin-top: 0;
  }

  .specials{
    margin: 30px;
    gap: 0;
  }

  .specials h2{
    font-size: 40px;
    margin-bottom: 10px;
  }
}